@*-----------Generado :D--------------*@
@model Entidad.Empresa
@{
    ViewBag.Title = "Editar Empresa";
    Layout = "~/Views/Shared/_MasterIntranet.cshtml";
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryvalidate")
}
<!-- Cabecera -->
<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumbs -->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Content("~/Intranet/Index")">Inicio</a></li>
                <li class="active"><a href="@Url.Content("~/Empresa/Index")">Empresas</a></li>
            </ul>
        </div>
        <div class="page-header title">
            <h1>Empresas <span class="sub-title">Editar Empresa</span></h1>
        </div>
        <!-- Breadcrumbs -->
    </div>
</div>
<!-- Cabecera -->
<!-- Aqui empieza el codigo del content -->
<div class="portlet">
    <div class="portlet-heading dark">
        <div class="portlet-title">
            <h4>Modificar información del Empresa</h4>
        </div>
        <div class="portlet-widgets">
            <a data-toggle="collapse" data-parent="#accordion" href="#acordion1"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="acordion1" class="panel-collapse collapse in">
        @using (Html.BeginForm("EditSave", "Empresa", FormMethod.Post))
        {
            <div class="portlet-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id)
                @Html.Hidden("initialnombre", Model.nombre)
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre)
                    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.idUsuario)
                    @Html.TextBoxFor(m => m.Usuario.nick, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.idUsuario)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.direccion)
                    @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.direccion)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.telefono)
                    @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telefono)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.celular)
                    @Html.TextBoxFor(m => m.celular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.celular)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.numeroCanchas)
                    @Html.TextBoxFor(m => m.numeroCanchas, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.numeroCanchas)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.uniformes)
                    @Html.EditorFor(m => m.uniformes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.uniformes)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.balon)
                    @Html.EditorFor(m => m.balon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.balon)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.activo)
                    @Html.EditorFor(m => m.activo)
                    @Html.ValidationMessageFor(model => model.activo)
                </div>
                <div class="form-group">
                    <div id="DistritoLista"></div>
                </div>  
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    @Html.ActionLink("Regresar a la Lista", "Index")
                </div>
            </div>
        }
    </div>
    <div style="clear:both;">&nbsp;</div>
    <script>
    $(document).ready(function () {
        $.isLoading({ text: "Cargando Formato" });

        $("#DistritoLista").load('/Intranet/DistritobyProvincia?idProvincia=' + @Model.Distrito.idProvincia + '', function () {

            $('#cboDistrito').val('@Model.idDistrito');
            $.isLoading("hide");
        });

        /*$("#DepartamentoLista").load('/Intranet/DepartamentoLista?isActivo=true', function () {
            $("#ProvinciaLista").load('/Intranet/ProvinciabyDepartamento?idDepartamento=-1');
            $("#DistritoLista").load('/Intranet/DistritobyProvincia?idProvincia=-1');
            $.isLoading("hide");
            $('#cboDepartamento').change(function () {
                var idDepartamento = this.value;
                $("#ProvinciaLista").load('/Intranet/ProvinciabyDepartamento?idDepartamento=' + idDepartamento + '', function () {
                    $('#cboProvincia').change(function () {
                        var idProvincia = this.value;
                        $("#DistritoLista").load('/Intranet/DistritobyProvincia?idProvincia=' + idProvincia + '');
                    });
                });
            });
        });*/
    });
    </script>
