@*-----------Generado :D--------------*@
@model Entidad.Cancha
@{
    ViewBag.Title = "Editar Cancha";
    Layout = "~/Views/Shared/_MasterIntranet.cshtml";
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryvalidate")
}
<!-- Cabecera -->
<div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumbs -->
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Content("~/Intranet/Index")">Inicio</a></li>
                <li class="active"><a href="@Url.Content("~/Cancha/Index")">Canchas</a></li>
            </ul>
        </div>
        <div class="page-header title">
            <h1>Canchas <span class="sub-title">Editar Cancha</span></h1>
        </div>
        <!-- Breadcrumbs -->
    </div>
</div>
<!-- Cabecera -->
<!-- Aqui empieza el codigo del content -->
<div class="portlet">
    <div class="portlet-heading dark">
        <div class="portlet-title">
            <h4>Modificar información del Cancha</h4>
        </div>
        <div class="portlet-widgets">
            <a data-toggle="collapse" data-parent="#accordion" href="#acordion1"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="acordion1" class="panel-collapse collapse in">
        @using (Html.BeginForm("EditSave", "Cancha", FormMethod.Post))
        {
            <div class="portlet-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id)
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre)
                    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control", @placeholder = "Ingrese el nombre", @maxlength = "" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.largo)
                    @Html.TextBoxFor(m => m.largo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.largo)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ancho)
                    @Html.TextBoxFor(m => m.ancho, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ancho)
                </div>               
                <div class="form-group">
                    @Html.LabelFor(model => model.precio)
                    @Html.TextBoxFor(m => m.precio, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.precio)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.activo)
                    @Html.EditorFor(m => m.activo)
                    @Html.ValidationMessageFor(model => model.activo)
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    @Html.ActionLink("Regresar a la Lista", "Index")
                </div>
            </div>
        }
    </div>
    <div style="clear:both;">&nbsp;</div>

    <script>
    $(document).ready(function () {
        $.isLoading({ text: "Cargando Formato" });
        $.isLoading("hide");      
    });
    </script>
